<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h3>Error</h3>
    <p>{{mensajeError}}</p>
</div>
<app-loading *ngIf="load"></app-loading>
<app-tarjetas [items]="ultimasCanciones"></app-tarjetas>