<div class="row">
    <div class="col">
        <input #nomArtista (keyup)="buscarArtista(nomArtista.value)" type="text" class="form-control"
            placeholder="Buscar artista">
    </div>
</div>
<div class="row">
    <div class="col">
        <app-loading *ngIf="load" class="m-5"></app-loading>
        <app-tarjetas [items]="artistas"></app-tarjetas>
    </div>
</div>