<div class="card-columns m-5 animated fadeIn puntero">
    <div (click)="verArtista(item)" *ngFor="let item of items" class="card">
        <img [src]="item.images | noImage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <span *ngFor="let artista of item.artists" class="badge badge-primary">{{artista.name}}</span>
        </div>
    </div>
</div>